:host{
    .logo{
        text-align: center;
        margin-top: 50px;
        padding-top: 3rem;
    }
    .custom-input {
        border: 1px solid #272360;
        border-radius: 5px;
        height: 3rem;
        align-items: center;
        width:95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
      }
      .button{
        ion-button{
            width:95%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            --background:#603E90;
        }
      }
      .login-text{
        text-align: end;
        padding: 20px;
        span{
            color: #603E90;
            font-weight: bolder;
        }
      }
}