.selected-label {
    color: white !important; /* Change this to your desired color for selected labels */
  }
  
  .unselected-label {
    color: rgb(199, 193, 193) !important; /* Change this to your desired color for unselected labels */
  }
  ion-tab-bar, ion-tab-button{
    background-color: #603E90;
   }